# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.*
terraform/.terraform.tfstate.lock.info
terraform/*.tfvars
terraform/*.tfvars.json
terraform/crash.log
terraform/crash.*.log
terraform/override.tf
terraform/override.tf.json
terraform/*_override.tf
terraform/*_override.tf.json
terraform/.terraformrc
terraform/terraform.rc
terraform/.envrc

# Terraform state files in root directory
*.tfstate
*.tfstate.*
.terraform.tfstate.lock.info

# Misc directory - ignore all files except .gitkeep
# Terraform generates SSH keys in this directory
misc/*
!misc/.gitkeep

